### Q1. Print the all Cities from below list

In [1]:
cities = ["Pune","Delhi","Banglore","Jaipur","Ahmedabad","Bhopal","Patna"]

for city in cities:
    print(city)

Pune
Delhi
Banglore
Jaipur
Ahmedabad
Bhopal
Patna

### Q2. Print the alternative city from below list

In [9]:
cities = ["Pune","Delhi","Banglore","Jaipur","Ahmedabad","Bhopal","Patna"]
for city in cities[::2]:
    print(city)

Pune
Banglore
Ahmedabad
Patna

### Q3. print the numbers from below list adding 2 in each number

In [10]:
numbers = [2,6,12,15,22,45]
for num in numbers:
    print(num+2)

4
8
14
17
24
47

### Q4.print square of each number from below list

In [11]:
numbers = [1,2,3,4,5,6]
for num in numbers:
    print(num*num)

1
4
9
16
25
36

### Q5. print each number from below list but break the loop when number=10

In [ ]:
numbers = [2,4,6,8,10,12,14,16,18,20]
for num in numbers:
    print(num)
    if num==10:
        break

### Q6. print each city from below except Jaipur

In [ ]:
cities = ["Pune","Delhi","Banglore","Jaipur","Ahmedabad","Bhopal","Patna"]
for city in cities:
    if city=="Jaipur":
        continue
    print(city)

### Q7. print each city from below except Jaipur and Bhopal

In [ ]:
cities = ["Pune","Delhi","Banglore","Jaipur","Ahmedabad","Bhopal","Patna"]
for city in cities:
    if city=="Jaipur" or city=="Bhopal":
        continue
    print(city)

### When we have multiple conditions then use "IN" or "NOT IN", For exmaples see question number 8, 9 and 10

### Q8. print each city from below except Delhi, Jaipur and Bhopal

In [ ]:
cities = ["Pune","Delhi","Banglore","Jaipur","Ahmedabad","Bhopal","Patna"]
for city in cities:
    if city=="Delhi" or city=="Jaipur" or city=="Bhopal":
        continue
    print(city)

In [ ]:
## Above code can be written using "IN"
cities = ["Pune","Delhi","Banglore","Jaipur","Ahmedabad","Bhopal","Patna"]
for city in cities:
    if city not in ["Delhi","Jaipur","Bhopal"]:
        print(city)

### Q9. print all animals from list1 if animal present in list2

In [ ]:
list1 = ["Tiger","Lion","Monkey","Giraffe","Cheetah","Deer","Elephant","Zebra"]
list2 = ["Deer","Monkey","Zebra"]

for animal in list1:
    if animal in list2:
        print(animal)

### Q10. print all animals from list1 if that animal is not present in list2

In [ ]:
list1 = ["Tiger","Lion","Monkey","Giraffe","Cheetah","Deer","Elephant","Zebra"]
list2 = ["Deer","Monkey","Zebra"]

for animal in list1:
    if animal not in list2:
        print(animal)

### Q11. calculate the sum of all numbers in list

In [12]:
numbers = [1,2,3,4,5]
sum=0

for num in numbers:
    sum = sum+num

print(sum)

15

### Q12.calculate the multiplication of all number in list

In [ ]:
numbers = [1,2,3,4,5]
mul=1

for num in numbers:
    mul = mul*num

print(mul)

### Q13. Given the list of names, add the string "Mr. " before each name and print the updated list.

In [14]:
names = ["John", "Alice", "Bob"]
new_names = []

for name in names:
    temp_name = f"Mr.{name}"
    new_names.append(temp_name)

print(new_names)

['Mr.John', 'Mr.Alice', 'Mr.Bob']

### Q14. You are given a list of numbers. Write a program using a for loop to find the largest number in the list and print it.

In [ ]:
numbers = [5,8,2,4,1]

largest_num = numbers[0]

for num in numbers:
    if num >largest_num:
        largest_num = num

print(largest_num)

### Q15. You are given a list of numbers. Write a program using a for loop to find the largest number in the list and print it.

In [ ]:
numbers = [5,8,2,4,1]

smallest_num = numbers[0]

for num in numbers:
    if num <smallest_num:
        smallest_num = num

print(smallest_num)

### Q16. Given a list of numbers, create a new list that contains the squares of each number in the original list. Then, print the new list.

In [15]:
numbers = [1, 2, 3, 4, 5]
squares = []

for num in numbers:
    squares.append(num*num)

print(squares)

[1, 4, 9, 16, 25]

### Q17. Given a list of words, create a new list that contains the lengths of each word in the original list. Then, print the new list.

In [16]:
words = ["apple", "banana", "kiwi","papaya"]
word_lengths = []

for word in words:
    word_lengths.append(len(word))

print(word_lengths)

[5, 6, 4, 6]

### Q18. You are given a list of names. Use a for loop to iterate over the list and print only the names that have length more than 5 characters

In [17]:
names = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank"]

for name in names:
    if len(name) > 5:
        print(name)

Charlie

### Q19. Given a list of words, create a new list that contains the uppercase version of each word in the original list. Then, print the new list.`

In [18]:
words = ["apple", "banana", "cherry"]
uppercase_words = []

for word in words:
    new_word = word.upper()
    uppercase_words.append(new_word)

print(uppercase_words)

['APPLE', 'BANANA', 'CHERRY']

### Q20. Given a list of numbers, use a for loop to create a new list that contains only the numbers greater than 10. Then, print the new list.

In [19]:
numbers = [5, 12, 8, 15, 3, 20]
greater_than_10 = []

for number in numbers:
    if number > 10:
        greater_than_10.append(number)

print(greater_than_10)

[12, 15, 20]

### Q21.Given a list of names, create a new list that contains only the names starting with the letter "J". Then, print the new list.

In [20]:
names = ["John", "Alice", "James", "Bob", "Jenny"]
j_names = []

for name in names:
    if name.startswith("J"):
        j_names.append(name)

print(j_names)

['John', 'James', 'Jenny']

### Q22. Calculate the sum of all numbers in below list if number is greater than 10

In [21]:
numbers = [2,15,5,12,7,8,20]
sum = 0
for num in numbers:
    if num>10:
        sum = sum+num
print(sum)

47

### Q23. Given a list of numbers, create a new list that contains only the numbers less than 20 and greater than 5. Then, print the new list.

In [22]:
numbers = [15, 4, 8, 23, 7, 10]
filtered_numbers = []

for number in numbers:
    if 5 < number < 20:
        filtered_numbers.append(number)

print(filtered_numbers)

[15, 8, 7, 10]

### Q24. Create a new list having names ends with small "L"

In [23]:
names = ["Om","Jay","Rahul","Prakash","Amol"]

new_names = []

for name in names:
    if name.endswith("l"):
        new_names.append(name)

print(new_names)

['Rahul', 'Amol']

### Q25. Create new list of numbers between 5 to 10 from below list

In [24]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
list2=[]

for num in list1:
    if 5<num<10:
        list2.append(num)

print(list2)

[6, 7, 8, 9]

## 26. In below dictionary double the value of each key

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

my_dict["a"] = my_dict["a"] * 2

my_dict

{'a': 2, 'b': 2, 'c': 3}

## 27. In below dictionary double the value of each key

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

my_dict["a"] = my_dict["a"] * 2

my_dict

{'d': 40, 'e': 50}

28.

29.

30.

## 31. Write a function to calculate addition of 2 numbers and print it

In [1]:
def add_numbers(a, b):
    add = a + b
    print(add)

In [2]:
add_numbers(5,5)

10

## 32. Write a function to calcualte the multiplication of 2 number and print it

In [8]:
def mul(num1,num2):
  mul = num1*num2
  print(mul)

In [10]:
mul(4,2)

8

## 33. Write a function to calculate subsstraction of 2 number and return it (dont print inside function)

In [11]:
def substraction(a,b):
  sub = a - b
  return sub

In [12]:
sub = substraction(10,5)

In [13]:
print(sub)

5

## 34. Write a function to square the number and return it

In [14]:
def square(a):
  sqr = a*a
  return sqr

In [15]:
square(3)

9

## 35. Write a fucntion to check if number is even or odd and print it

In [16]:
def even_odd(num):
  if num%2==0:
    print("{} Is Even Number".format(num))
  else:
    print("{} Is Odd Number".format(num))

In [17]:
even_odd(10)

10 Is Even Number

## 36. Check if number is positive or negative

In [18]:
def positive_negative(num):
  if num>0:
    print("{} is positive number".format(num))
  else:
    print("{} is negative number".format(num))

In [19]:
positive_negative(10)

10 is positive number

In [20]:
positive_negative(-10)

-10 is negative number

## 37. Write a function to count frequency of element in list

In [21]:
def count_freq(list1,element):
  cnt = list1.count(element)
  return cnt

In [22]:
cnt_element = count_freq(["ram","shyam","ram"],"ram")
print(cnt_element)

In [25]:
cnt_element = count_freq([11,33,22,11,44,11],11)
print(cnt_element)

3

## 38. write a function which takes any string and convert it to upper case

In [28]:
def upper_string(a):
  capital = a.upper()
  return capital

In [29]:
a = upper_string("ram")
print(a)

RAM

## 39. Write a function which takes list as input and returns the addition of all number of list

In [30]:
def add_list(list_1):
  add = 0
  for num in list_1:
    add = add + num
  return add

In [32]:
addition = add_list([1,2,3,4])
print(addition)

10

## 40. write a function to calculate the area of triangle

In [35]:
def area_triangle(length,base):
  area = 0.5 * length * base
  print("Area of triangle = {}".format(area))

In [36]:
area_triangle(10,20)

Area of triangle = 100.0