# Why list?

#### Lets consider, you are visiting a Zoo and you are advised to make list of name of animals available in the Zoo in python, what will be your apporach?

So far we just know about variables in python, which stores any value like integer, float, string. Hence with same approach, I can make a variable as below.


```
First_Animal = "Elephant"
Second_Animal = "Lion"
Third_Animal = "Camel"
Fourth_Animal = "Tiger"
....
....
....
....
```

Now if someone will ask, what was the name of Second Animal you saw? you will asnwere as below

```
print(Second_Animal)
```
:>>> Lion

Problem with this method is that, you have to create a separate variable for each animal and while printing any name we have to call that variable name. But isnt it, complex and lenghty approach? instead can we create a single variable storing all animals and access each animal by position of animal.

### Here we need List
Lets adopt list to optimized above problem.

```
animals = ["Elephant","Lion","Camel","Tiger",......]
```
What was the name of Second Animal?

```
print(animals[1])
```
:>>> Lion

# List

- Lists are used to store multiple items in a single variable.
- Lists are created using square brackets
- List items are ordered and changeable

In [ ]:
# Creating list of animals
animals = ["Elephant","Lion","Camel","Tiger"]
print(animals)

['Elephant', 'Lion', 'Camel', 'Tiger']

## Access List Items
- List items are indexed hence can access them by referring to the index number.
- List items are given an index which will start from 0 for first item or negative index will start from -1 from last item
![image.png]()

In [1]:
# Print second item of list
animals = ["Elephant","Lion","Camel","Tiger"]
print(animals[1])

Lion

In [2]:
# Print last item of list
animals = ["Elephant","Lion","Camel","Tiger"]
print(animals[-1])

Tiger

In [ ]:
# Print first 3 items of list
animals = ["Elephant","Lion","Camel","Tiger"]
print(animals[0:3])

['Elephant', 'Lion', 'Camel']

In [3]:
# Start From 0 by Default
animals = ["Elephant","Lion","Camel","Tiger"]
print(animals[:3])

['Elephant', 'Lion', 'Camel']

In [ ]:
# End to -1 by Default
animals = ["Elephant","Lion","Camel","Tiger"]
print(animals[2:])

['Camel', 'Tiger']

## Change Item Value

In [ ]:
# change "Lion" to "Zebra"
animals = ["Elephant","Lion","Camel","Tiger"]
print("animals before change=", animals)

animals[1]="Zebra"
print("animals after change=", animals)

animals before change= ['Elephant', 'Lion', 'Camel', 'Tiger']
animals after change= ['Elephant', 'Zebra', 'Camel', 'Tiger']

## Change Multiple Item Values at a time

In [ ]:
# change "Lion" and "Camel" to "Zebra" and "Monkey"
animals = ["Elephant","Lion","Camel","Tiger"]
print("animals before change=", animals)

animals[1:3]=["Zebra","Monkey"]
print("animals after change=", animals)

animals before change= ['Elephant', 'Lion', 'Camel', 'Tiger']
animals after change= ['Elephant', 'Zebra', 'Monkey', 'Tiger']

# Insert Items in list

 <h4> 1. Append : At Last </h4>
- Append method will add one element at the end of list

In [4]:
# Add "Zebra" at the end of list
animals = ["Elephant","Lion","Camel","Tiger"]

animals.append("Zebra")

print(animals)

['Elephant', 'Lion', 'Camel', 'Tiger', 'Zebra']

In [ ]:
# Add list of ["Zebra","Monkey"] at the end of list, You can notice list is added as one element at the end
animals = ["Elephant","Lion","Camel","Tiger"]

animals.append(["Zebra","Monkey"])
print(animals)

['Elephant', 'Lion', 'Camel', 'Tiger', ['Zebra', 'Monkey']]

<h4> 2. Extend : Add multiple Items At Last </h4>

In [5]:
# Add "Zebra" and "Monkey" at the end of list
animals = ["Elephant","Lion","Camel","Tiger"]

animals.extend(["Zebra","Monkey"])

print(animals)

['Elephant', 'Lion', 'Camel', 'Tiger', 'Zebra', 'Monkey']

<h4> 3. Insert: Item At Specified Position </h4>

In [ ]:
# Insert Zebra at Index 1
animals = ["Elephant","Lion","Camel","Tiger"]

animals.insert(1, "Zebra")

print(animals)

['Elephant', 'Zebra', 'Lion', 'Camel', 'Tiger']

# Remove Items

<h4> 1. remove(): Remove Item Using Value </h4>

In [ ]:
# Remove "Camel" from list
animals = ["Elephant","Lion","Camel","Tiger"]

animals.remove("Camel")

print(animals)

['Elephant', 'Lion', 'Tiger']

<h4> 2. pop(): Remove Item Using Index </h4>

* pop() methods takes index as input to remove items
* If no index provided then pop will remove last item of list

In [ ]:
# Remove "Camel" from list
animals = ["Elephant","Lion","Camel","Tiger"]

animals.pop(2)

print(animals)

['Elephant', 'Lion', 'Tiger']

In [6]:
# pop without index will remove last item
animals = ["Elephant","Lion","Camel","Tiger"]

animals.pop()

print(animals)

['Elephant', 'Lion', 'Camel']

<h4> 3. clear(): Clear All Items Of List </h4>

* It remove all items of list and empties the list

In [ ]:
# Clear a list
animals = ["Elephant","Lion","Camel","Tiger"]

animals.clear()

print(animals)

[]

# Sorting

In [ ]:
# Sort the list ascending: By default is ascending
animals = ["Elephant","Lion","Camel","Tiger"]

animals.sort()

print(animals)

['Camel', 'Elephant', 'Lion', 'Tiger']

In [ ]:
# Sort the list descending
animals = ["Elephant","Lion","Camel","Tiger"]

animals.sort(reverse=True)

print(animals)

['Tiger', 'Lion', 'Elephant', 'Camel']

In [ ]:
# Sort numerical list: ascending
num_list = [5,2,3,1,4]
num_list.sort()

print(num_list)

[1, 2, 3, 4, 5]

In [ ]:
# Sort numerical list: descending
num_list = [5,2,3,1,4]
num_list.sort(reverse=True)

print(num_list)

[5, 4, 3, 2, 1]

# List Methods

<h3>
1. append()	Adds an element at the end of the list <br>
2. clear()	Removes all the elements from the list <br>
3. copy()	Returns a copy of the list <br>
4. count()	Returns the number of elements with the specified value <br>
5. extend()	Add the elements of a list (or any iterable), to the end of the current list <br>
6. index()	Returns the index of the first element with the specified value <br>
7. insert()	Adds an element at the specified position <br>
8. pop()	Removes the element at the specified position <br>
9. remove()	Removes the item with the specified value <br>
10. reverse()	Reverses the order of the list <br>
11. sort()	Sorts the list </h3>

## List comprehension
- It is shorter syntax when you want to create a new list from another existing list.
- Without list comprehension you will have to write <b>for</b> loop

In [ ]:
# with for loop
# transfer all elements of list_1 to list_2
list_1  = [1,2,3,4,6]
list_2 = []
for element in list_1:
  list_2.append(element)

print(list_2)

[1, 2, 3, 4, 6]

In [ ]:
# with list comprehension
# transfer all elements of list_1 to list_2
list_1  = [1,2,3,4,6]

list_2 = [i for i in list_1]
print(list_2)

[1, 2, 3, 4, 6]

In [ ]:
# create a list_1 using list comprehension having elements from 0 to 10
# create list_2 for elements in list_1 which are greater than 5
list_1 = [i for i in range(11)]
print(list_1)

list_2 = [i for i in list_1 if i>5]
print(list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]

In [ ]:
# create newlist containing upper case of elements of fruits
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

# Exercise

### 1. Reverse the list items

In [1]:
numbers = [1,2,3,4,5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

### 2. Count of "Banana"

In [ ]:
fruits = ["Mango","Apple","Banana","Cherry","Banana"]

fruits.count("Banana")

2

### 3. Find index of Cherry

In [ ]:
fruits = ["Mango","Apple","Banana","Cherry","Banana"]

fruits.index("Cherry")

3