## Sets
- Sets are used to store multiple items in a single variable.
- Sets are unordered, unchangeable(cannot remove/change items but can add it) and unindexed.
- <b>Duplicates Not Allowed</b>

- Sets are written in curly brackets
set_1 = {"Apple",100,"Tiger",20.50,True}

In [ ]:
# Create a set : You can see set are unordered hence order changed while printing
set_1 = {"Apple",100,"Tiger",20.50,True}
print(set_1)

{True, 100, 'Apple', 20.5, 'Tiger'}

In [ ]:
# Duplicates Not Allowed
fruits = {"apple", "banana", "cherry", "apple"}

print(fruits)

{'apple', 'banana', 'cherry'}

## Access Items
- Since sets are unordered hence cannot access them using index
- You can only access items using for-loop

In [ ]:
fruits = {"apple", "banana", "cherry", "apple"}
for item in fruits:
  print(item)

apple
banana
cherry

## Change/remove Items
- Set are unchangeble hence cannot add, remove or change items

## Add item
- 1. add() : to add one item
- 2. update() : to add multiple items: You can list, set, or tuple

In [ ]:
# 1. add mango to fruits
fruits = {"apple", "banana", "cherry", "apple"}

fruits.add("Mango")

print(fruits)

{'apple', 'Mango', 'banana', 'cherry'}

In [ ]:
# 2. Add Mango, Pineapple
fruits = {"apple", "banana", "cherry", "apple"}

fruits.update({"Mango","Pineapple"})

print(fruits)

{'Pineapple', 'banana', 'apple', 'Mango', 'cherry'}

## Remove item
1. remove() : It will throw error if item not in set
2. discard() : It will not thrown error if item not in set
3. pop() : It will remove element any random item
4. clear() : It will empty set

In [ ]:
# remove apple using remove()
fruits = {"apple", "banana", "cherry"}

fruits.remove("apple")

fruits

{'banana', 'cherry'}

In [ ]:
# remove mango using remove(): it will thrown error because mango it not there
fruits = {"apple", "banana", "cherry"}

fruits.remove("Mango")

fruits

In [ ]:
# remove mango using discard: it will remove mango if present otherwise it will not throw error
fruits = {"apple", "banana", "cherry"}

fruits.discard("mango")

fruits

{'apple', 'banana', 'cherry'}

In [ ]:
# pop() wil remove any random item
fruits = {"apple", "banana", "cherry"}

fruits.pop()

fruits

{'apple', 'cherry'}

In [ ]:
# clear a entire set
fruits = {"apple", "banana", "cherry"}

fruits.clear()

fruits

set()

## Set Methods
1. add() : Adds an element to the set
2. update() : Add multiple elements as a time
3. remove()	: Removes the specified element, throw error if not present
3. discard() :	Remove the specified element, dont throw error if not present
4. clear() : remove all elements from set
5. pop() : remove any random element
6. union() : Return a set containing the union of sets
7. intersection()	: Returns a set, that is the intersection of two other sets
8. difference() :	Returns a set containing the difference between two or more sets

In [ ]:
# Union
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'banana', 'apple', 'microsoft', 'google', 'cherry'}

In [ ]:
# intersection
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
# difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}