## Tuple

- Tuples are also used to store multiple values in single variable
- Tuples are created using round brackets
- Tuples items are ordered and <b>unchangeable</b>
- <b>Unchangeable meaning cannnot change, add or remove items</b>
- Set is also Unchangeble means you cannot change item value but you add or remove items

In [ ]:
# Creating a tuple of animals
animals = ("Elephant","Lion","Camel","Tiger")
print(animals)

('Elephant', 'Lion', 'Camel', 'Tiger')

In [1]:
# Create a tuple with one item
animals = ("Elephant")
print(animals)
print(type(animals))

Elephant
<class 'str'>

In [3]:
# One item tuple should be created with comma at last
animals = ("Elephant",)
print(animals)
print(type(animals))

('Elephant',)
<class 'tuple'>

## Access Tuple Items
- Tuple items are indexed hence can access them by referring to the index number.
- Tuple items are given an index which will start from 0 for first item or negative index will start from -1 from last item

In [ ]:
# Print second item of tuple
animals = ("Elephant","Lion","Camel","Tiger")
print(animals[1])

Lion

In [ ]:
# Print last item of tuple
animals = ("Elephant","Lion","Camel","Tiger")
print(animals[-1])

Tiger

In [ ]:
# Print first 3 items of tuples
animals = ("Elephant","Lion","Camel","Tiger")
print(animals[0:3])

('Elephant', 'Lion', 'Camel')

In [ ]:
# Start From 0 by Default
animals = ("Elephant","Lion","Camel","Tiger")
print(animals[:3])

('Elephant', 'Lion', 'Camel')

In [ ]:
# End to -1 by Default
animals = ("Elephant","Lion","Camel","Tiger")
print(animals[2:])

('Camel', 'Tiger')

## Change Item Value
- Tuples are unchangeable, or immutable
- Hence you cannot add, remove or change items
- But you can convert tuple to list and change/add/remove item of list and again convert it into tuple

In [ ]:
# change "Lion" to "Zebra"
animals = ("Elephant","Lion","Camel","Tiger")
print("animals before change=", animals)

# convet tuple to list
animals_list = list(animals)
print("Animals in list=", animals_list)

# change list values
animals_list[1] = "Zebra"

# convet list to tuple
animals = tuple(animals_list)

# check if tuple changed
print("animals after change=", animals)

animals before change= ('Elephant', 'Lion', 'Camel', 'Tiger')
Animals in list= ['Elephant', 'Lion', 'Camel', 'Tiger']
animals after change= ('Elephant', 'Zebra', 'Camel', 'Tiger')

## Remove items

- You cannot remove tuple items hence no clear() or remove() or pop() method allowed
- But you can delete tuple completly using <b>del</b> keyword

In [4]:
# delete tuple completely
animals = ("Elephant","Lion","Camel","Tiger")

del animals

print(animals) # if will get error "NameError: name 'animals' is not defined" means everything is correct

NameError: name 'animals' is not defined

## Tuple methods

#### 1. count()	: return the count of specified element

In [ ]:
animals = ("Elephant","Lion","Lion","Lion","Camel","Tiger")
print(animals.count("Lion"))

3

<h4> 2. index()	: return the index of specific items

In [ ]:
animals = ("Elephant","Lion","Camel","Tiger")
print(animals.index("Camel"))

2

# Exercise

##### 1. Print the count of Apple

In [ ]:
fruits = ("Apple","Apple","Banana","Cherry")
print(fruits.count("Apple"))

2

##### 2. Print the indexof Banana

In [ ]:
fruits =("Apple","Banana","Cherry")
print(fruits.index("Banana"))

1